@model HCalc.WebUI.Models.RegisterViewModel
@{
    ViewBag.Title = "Ready to view this demo?";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<div class="row">

    <div class="col-xs-12 col-md-8 register-info">
        <h1>@ViewBag.Title</h1>
        <h3>Why wait? Let's get started!</h3>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pharetra mollis vehicula. Vestibulum ut accumsan dolor. 
            Aliquam porta sodales vestibulum. Donec tincidunt purus vitae arcu vulputate malesuada. Etiam placerat, nibh ut fermentum ullamcorper, 
            orci ipsum tincidunt ante, at finibus tortor elit et orci.</p>
        <p><img src="~/images/index2.png" alt="" style="width: 750px;" /></p>
        <p>Aliquam suscipit mollis egestas. Nulla dapibus sit amet felis in rutrum. Ut at lorem quis mauris fringilla vulputate convallis in sem. Suspendisse a dolor a 
            turpis egestas vestibulum et eu erat. Duis lorem erat, vehicula tempor bibendum vitae, tincidunt fringilla dui. Etiam at finibus erat. Vivamus eu aliquet dui. 
            Morbi scelerisque, eros id laoreet varius, ipsum enim tempus neque, non sagittis risus orci dapibus urna. Vivamus vel luctus lectus. Aliquam erat volutpat. </p>
    </div>
    
    <div class="col-xs-6 col-md-4 bg-info">
        <!-- form -->
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <br />
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Website, new { @class = "form-control", @placeholder = "Website" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "Telephone" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", @placeholder = "Company name" })
                </div>
            </div>

            <div class="form-group">
                <div class="text-center">
                    <input type="submit" class="btn btn-success btn-lg" value="Let's get started!" />
                </div>
            </div>
            <br />
        }
    </div>
</div>