@using HCalc.WebUI.HtmlHelpers
@model HCalc.WebUI.Models.MatrixListViewModel

@{
    ViewBag.Title = "Welcome";
}

<div class="row">
    <div class="col-sm-12">
        <br />
        <nav role="navigation" class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button data-target="#bs-example-navbar-collapse-3" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">Demo version</a>
                </div>
                <div id="bs-example-navbar-collapse-3" class="collapse navbar-collapse pull-right">
                    <button class="btn btn-primary navbar-btn" type="button" onclick="window.location = '/page/add';">Add new</button>
                </div>
            </div>
        </nav>
        
        <div class="table-responsive">
            <table class="matrix table table-hover">
                <tr>
                    <th>Code</th>
                    <th style="width: 280px;">Bouwdeel / onderdeel</th>
                    <th>Gebrek</th>
                    <th class="gr">Gebr</th>
                    <th class="gr">Int</th>
                    <th class="gr">Omv</th>
                    <th class="yl">Con</th>
                    <th class="gr">Actie</th>
                    <th class="gr">Hvh</th>
                    <th>Eenh</th>
                    <th>%</th>
                    <th class="yl">Kosten</th>
                    <th>Total</th>
                    <th>Cycl</th>
                    <th>Startjaar</th>
                    <th>BTW</th>
                    <th>Cal</th>
                    <th></th>
                </tr>
                
                @foreach (var modelItem in Model.Matrices)
                {
                     <tr>
                        <td class="vam"><span class="label label-success">@modelItem.BuildingPartCode</span></td>
                        <td class="vam"><a href="/page/edit/@modelItem.Id">@modelItem.BuildingPartText</a></td>
                         <td>@modelItem.DefectDescriptionText</td>

                        <td class="gr text-center">@modelItem.Gebr</td>
                        <td class="gr text-center">@modelItem.Intencity</td>
                        <td class="gr text-center">@modelItem.Omvang</td>
                         <td class="yl text-center">@modelItem.Condition</td>

                        <td class="gr">@modelItem.Action</td>
                        <td class="gr text-center">@modelItem.CountHvh</td>
                        <td class="text-center">@modelItem.Eenh</td>
                        <td class="text-center">@modelItem.Percent</td>
                        <td class="yl text-center">&euro; @modelItem.Cost</td>
                        <td class="text-center">&euro; @modelItem.Total</td>
                         <td class="text-center">@modelItem.Cycle</td>
                        <td class="text-center">@modelItem.StartYear</td>
                        <td class="text-center">@modelItem.BTW</td>
                        <td class="vam">
                            <a href="javascript:void(0);" class="btncalendar" data-toggle="popover" title="Years cost"
                               data-placement="left"
                               data-content="@Html.Raw(modelItem.CalendarBuilder)"></a>
                        </td>
                        <td class="text-center vam"><a class="delete" href="#" title="Remove" data-toggle="modal" data-target="#myModal">@modelItem.Id</a></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <nav>
            <ul class="pagination pull-right">
                @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
            </ul>
        </nav>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Remove matrix item</h4>
            </div>
            <div class="modal-body">
                Are your sure you want to remove this matrix item? Press 'Delete' to apply, 'Close' - to cancel.
            </div>
            <div class="modal-footer">
                <input type="hidden" id="current-id" value="" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function() {

        $(".matrix td a.delete").bind("click", function(event) {
            event.preventDefault();
            $("#current-id").val($(this).text());
        });


        $("#myModal .btn-danger").bind("click", function (event)
        {
            // get id of deleted item
            var indx = ($(this).parent().find("#current-id")).val();

            // delete item via ajax
            var url = "/Page/DeleteCondition";
            $.get(url, {
                id: indx
            }, function (data) {
                // reload page
                window.location = "/";
            });
        });


        $('[data-toggle="popover"]').popover();

    });
</script>